 * {
     margin: 0;
     padding: 0
 }

 @font-face {
     font-family:'selfFont';
     src: url('../font/MHEIPRC-LIGHT.TTF');
 }

 body, html {
     width: 100%;
     height: 100%;
     font-family: selfFont;
 }

 ::-webkit-input-placeholder{
     font-size: 0.36rem;
     color: #000;
     font-family: selfFont;

 }    /* 使用webkit内核的浏览器 */
:-moz-placeholder{
    font-size: 0.36rem;
    color: #000;
    font-family: selfFont;



}                  /* Firefox版本4-18 */
::-moz-placeholder{
    font-size: 0.36rem;
    color: #000;
    font-family: selfFont;



}                  /* Firefox版本19+ */
:-ms-input-placeholder{
    font-size: 0.36rem;
    color: #000;
    font-family: selfFont;



}           /* IE浏览器 */
 
 .wrapper {
     width: 100%;
     height: 100%;
     background-image: url('../image/bg.jpg');
     background-position: center center;
     background-size: 100% 100%;
 }
 .register-wrap {
     position: absolute;
     top: 12%;
     left: 0;
     width: 100%;
 }
 .register-wrap .logo img {
     width: 100%;
     height: auto;
 }
 .form .inputText {
     margin-bottom: 5%;
 }
 .form .inputText input {
     width: 70%;
     height: 0.94rem;
     margin: 0 auto;
     display: block;
     padding-left: 5px;
     outline: none;
     -moz-border-radius: 2px; /* Firefox */
     -webkit-border-radius: 2px; /* Safari 和 Chrome */
     border-radius: 2px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
     appearance: none;
     border: none;
     -webkit-appearance: none;
     font-size: 0.36rem;
     font-family: selfFont;
 }
 .select-wrap {
     width: 100%;
     height: 0.94rem;
     overflow: hidden;
     margin: 0 auto;
     display: flex;
     justify-content: center;
 }

 .select-wrap div.left {
     width: 34.467%;
     float: left;
     height: 0.94rem;
     margin-right: 2%;
     background: #fff;
     -moz-border-radius: 2px; /* Firefox */
     -webkit-border-radius: 2px; /* Safari 和 Chrome */
     border-radius: 2px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */

	/* -moz-box-shadow:2px 2px 5px #969696;/*firefox*/ 
	/*-webkit-box-shadow:2px 2px 5px #969696;/*webkit*/ 
	/*box-shadow:2px 2px 5px #969696;opera或ie9 */


 }

 .select-wrap div.right {
    width: 34.667%;
    float: right;
    height: 0.94rem;
    background: #fff;
    -moz-border-radius: 2px; /* Firefox */
    -webkit-border-radius: 2px; /* Safari 和 Chrome */
    border-radius: 2px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */

}

.select-wrap div.left {
    display: flex;
    align-items: center;
    font-size: 0.36rem;
}
.select-wrap div.left div.name {
    width: 30%;
    text-align: center;
}
.select-wrap div.left div.middle {
    flex: 1;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
}
.select-wrap div.left div.info {
    width: 16%;
    text-align: center;
    position: relative;
}

.select-wrap div.left .info::before{
    content: "";
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #fe7f9a;
    margin-left: -5px;
    margin-top: -5px;  
}
.read-wrap {
    width: 70%;
    margin: 0 auto;
    display: flex;
    margin-top: 5%;
}
.read-wrap .font{
    font-size: 0.338rem;
}

.read-wrap .checkbox {
    margin-top: 2px;
    margin-right: 4px;
}
.first-bind {
    font-size: 0.338rem;
    margin-top: 3%;
    padding-left: 19%;
}
.message {
    margin-top: 3.8%;
}
.message .left input{
    width: 100%;
    height: 100%;
    font-size: 0.36rem;
    outline: none;
    padding-left: 5px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    font-family: selfFont;
}
#messageBtn {
    margin-right: 0;
    text-align: center;
    background: #8c8c8c;
    justify-content: center;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.bind {
    width: 38.7%;
    height: 0.94rem;
    text-align: center;
    line-height: 0.94rem;
    font-size: 0.36rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    background: #8c8c8c;
    margin-top: 14%;
    color: #fff;
    letter-spacing: 1px;
}

#chooseProvince {
    position: absolute;
    z-index: 9;
    width: 34.7%;
    height: 0.94rem;
    opacity: 0;
}

#chooseCities {
    position: absolute;
    z-index: 9;
    width: 34.7%;
    height: 0.94rem;
    opacity: 0;
}

.mask-bind {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    z-index: 99;
}
.mask-bind img{
    width: 67.2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.hasBind img{
    width: 100%;
    height: auto;;
}

.hasBind .logo {
    margin-top: 10%;
}
.openLockEgg {
    width: 38.7%;
    height: 0.94rem;
    text-align: center;
    line-height: 0.94rem;
    font-size: 0.36rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    background: #fe7f9a;
    color: #fff;
    letter-spacing: 1px;
}

.qr-wrapper img{
    width: 100%;
    height: auto;
}

.qr-wrapper .logo {
    margin-top: 20%;
}
.mask-agree {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    z-index: 99;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url('../image/bg.jpg');
    background-position: center center;
    background-size: 100% 100%;
}

.content {
    width: calc(100vw - 1.82rem);
    margin: 0 auto;
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*-webkit-transform: translate(-50%, -50%);*/
    /*-moz-transform: translate(-50%, -50%);*/
}

.content .logo {
    width: 4.68rem;
    height: 2.54rem;
    margin: 0 auto;
    background-image: url("../image/title.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.content .protocol {
    width: 100%;
    height: 8rem;
    overflow: scroll;
    font-family: selfFont;
    margin: 0rem auto 0.44rem;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
}

.content .protocol  li {
    margin-bottom: 8.27%;
}

.content .protocol  .subCaption {
    line-height: 0.25rem;
    font-size: 14px;
    color: #000;
    font-family: selfFont;
    margin-bottom: 0.2rem;
}

.content .protocol  .subCaption::before {
    content: '•';
    margin-right: 0.1rem;
}

.content .protocol  p {
    line-height: 0.48rem;
    font-size: 13px;
    font-family: "selfFont";
    text-align: justify;
}

.content .protocol  dl {
    margin-top: 0.1rem;
}

.content .protocol  dd {
    line-height: 0.48rem;
    font-size: 13px;
    color: #000;
    font-family: "selfFont"
}

.content .goBack {
    width: 3.48rem;
    height: 0.69rem;
    line-height: 0.69rem;
    display: block;
    margin: 0 auto;
    font-size: 0.37rem;
    text-align: center;
    color: #fff;
    background-color: #fe7f9a;
    border: none;
    outline: none;
    font-family: selfFont;
}
