<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>helloform_Vue</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    </head>
    <body>
	<div class="hello">
		<ul>
			<form @submit.prevent="submit">
				<input type="text" name="name" v-model="inputtext.name">
				<input type="password" name="password" v-model="inputtext.password" >
				<input type="submit" value="提交">
			</form>
		</ul>
	</div>
	<script>
		var vm = new Vue({
			el: '.hello',
			data: {
				
				inputtext:{}
			},
			methods: {
				submit: function() {
					console.log(this.inputtext);
				}
			},
		})
	</script>
 
	</body>
</html>